@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');

  .sitename {
    font-family: 'Playfair Display',sans-serif;
    font-size: 3.0rem !important; /* Adjust size as needed */
    text-align: center; /* Optional, for centering */
    color: #154a15 !important; /* Optional, for text color */
    font-weight: lighter !important;
    font-style: italic;
  }