<section id="about" class="about section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p><span>Find Out More</span> <span class="description-title"> About Us</span></p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-3">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/masjid-background.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="about-content ps-0 ps-lg-3">
            <h3>The Triplicane Labbai Jamaath Masjid</h3>
            <p class="fst-italic">
              The Triplicane Labbai Jamaath Masjid (Tamil: திருவல்லிக்கேணி லெப்பை ஜமாஅத் பள்ளிவாசல்) is located in the Triplicane neighborhood of Chennai, Tamil Nadu, India. Established in 1889, the mosque has been a significant religious and cultural landmark.
            </p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h4>Historical Significance</h4>
                  <p>The mosque has a rich history dating back to the 1870s, founded by Tamil-speaking Muslims who came to Chennai for business in lungis, dry fish, beedi, and other trades.</p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h4>Community and Culture</h4>
                  <p>This mosque serves primarily Tamil Muslims, with Friday sermons conducted in Tamil. It has been a place of worship and gathering for local and distant worshippers alike.</p>
                </div>
              </li>
            </ul>
            <p>
              Over the years, the mosque has been an integral part of the community, and major renovations are currently being planned to preserve and enhance its historical structure.
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>